/* Main style for Octavio Espinosa personal website */
/* Parts adapted from Traversy Media, 2017 */
/* Parts adapted from https://github.com/jokergoo/jokergoo.github.io */
/* background occasionally repeated for old browsers */

/* CSS Variables */
:root {
  --backgroundColor:#FFF8E7;
  --backgroundColor2:#004D44;
  --textColor1:#333333;
  --textColor2:#f4f4f4;
  --secondary:#999;
  --hover:#cccccc;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-family: "PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-family: Ubuntu, sans-serif;
  padding:0;
  margin:0;
  background-color:#FFF8E7;
  background-color:var(--backgroundColor);
}

h1,
h2,
h3 {
  color:#333333;
  color:var(--textColor1);
}

a {
  outline: none;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 15px 0;
  position: relative;
  background-color:#004D44;
  background-color:var(--backgroundColor2);
  border-bottom: 1px solid #eaeaea;
}

.nav, .language {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
  
}

.nav-links, .language-links {
  margin: 5px 0px;
  padding: 0;
  font-size: 120%;
  list-style: none;
}

.nav-links li, .language-links li {
  display: inline-block;
  margin: 5px 0px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color:#f4f4f4;
  color:var(--textColor2);
  font-weight:bold;
  padding: 0px 5px;
}

.nav-links a:hover {
  color:#cccccc;
  color:var(--hover);
}

.language a {
  list-style: none;
  text-decoration: none;
  padding: 5px;
}

header .current a{
  color: #FFF8E7;
  color: var(--backgroundColor);
  border-bottom: 3px solid #FFF8E7;
}

.language .current a{
  color: #FFF8E7;
  color: var(--backgroundColor);
  background-color: var(--backgroundColor2);
}

/* Adapted from https://github.com/lipis/flag-icons */

.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.fi:before {
  content: '\00a0';
}
.fi.fis {
  width: 1em;
}

.fi-de {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg");
}
.fi-en {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/30/Flag_of_the_United_Kingdom_%283-2_aspect_ratio%29.svg");
}
.fi-es {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/32/Flag_of_Spain_%28Civil%29.svg");
}
.fi-fr {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Flag_of_France.png");
}

.content {
  max-width: 700px;
  margin: 10px auto 10px;
  padding: 10px 10px;
  line-height: normal;
  font-size: 100%;
  color:#333333;
  color:var(--textColor1);
}

.container {
  margin: 10px;
}

.gsc_a_b {
  font-size: 80%;
}
.gsc_a_t,
.gsc_a_c,
.gsc_a_y,
.gsc_a_h,
.gsc_a_hc,
.gs_ibl{
  font-size: 80%;
}


.gsc_a_t a {
  font-size: 100%;
}


.footer {
  padding: 15px 0;
  text-align: center;
  font-size: 80%;
  color: #004D44
}


@media (min-width: 600px) {
  .header {
    padding: 25px 0;
  }

  .nav-links {
    font-size: 18px;
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .content {
    font-size: 19px;
    line-height: 1.8;
  }

}

@media print {
  .header, .footer {
    display: none;
  }
  .article-content a {
    box-shadow: none;
  }
}

